<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{ base::base(${title},~{::loginx}) }">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login : Home Page</title>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
</head>

<body>

	<div class="ecommerce">
		<!-- Signup Form Decoration Starting............ -->
		<div class="bodyContent" th:fragment="loginx">
			<div class="formContainer">
				<div class="formHeader">
					<label for="">Login Hear !!</label>
				</div>

				<div class="alert alert-warning alert-dismissible fade show"
					role="alert" th:if="${message}">
					<strong class="text-danger">Data Not Fount Error!</strong> User or
					password not match try again..
					<button type="button" class="btn-close" data-bs-dismiss="alert"
						aria-label="Close"></button>
				</div>

				<div class="formBody">
					<form th:action="@{/loginData}" method="post" th:object="${loginUsers}">
					
						<div class="mb-3">
							<label for="inputEmail4" class="form-label">Email address</label>
							<input name="email" type="email" class="form-control"
								id="inputEmail4" placeholder="ex. example@compony.com"
								th:value="${loginUsers.email}"
								th:classappend="${#fields.hasErrors('email')}? 'is-invalid' : ''">
							<div class="invalid-feedback"
								th:each="e:${#fields.errors('email')}" th:text="${e}"></div>
						</div>



						<div class="mb-3">
							<label for="inputPassword4" class="form-label">Password</label> <input
								name="password" type="password" class="form-control"
								id="inputPassword4" placeholder="*******"
								th:value="${loginUsers.password}"
								th:classappend="${#fields.hasErrors('password')}? 'is-invalid' : ''">
							<div class="invalid-feedback"
								th:each="e:${#fields.errors('password')}" th:text="${e}"></div>
						</div>

						<div class="mb-3 text-center">
							<div>
								<button type="submit" class="btn btn-outline-dark">Login</button>
							</div>
						</div>
						
					</form>
				</div>
			</div>
		</div>
		<!-- Signup Form Decoration Ending............ -->
	</div>


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>

</html>